.App {
  text-align: center;
}
.tool-bar{
  margin : 15px;
}
.side-bar-styles{
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.actions{
  display: flex;
  flex-direction: column;
  align-content: space-between;
  align-items: stretch;
  gap:7rem;
}

.bidiv
{
  margin-top: 11px;
  padding: 10px;
}

.ddiv
{
  background-color: white;
  text-align: left;
  padding: 10px;
  padding-bottom: 40px;
}

.projectsdiv
{
  background-color: white;
  text-align: start;
  content:initial;
}

.imageI
{
  height: 150px;
}

.scard{
  height: 50px;
  width: 180px;
  margin: 10px;
  text-align: center;
  padding: 10px;
}

.colorsdiv
{
  width: 400px;
}

.sidebar
{
  height: 800px;
  background-color: cornflowerblue;
}