.App {
  text-align: center;
}
.tool-bar{
  margin : 15px;
}
.side-bar-styles{
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.actions{
  display: flex;
  flex-direction: column;
  align-content: space-between;
  align-items: stretch;
  gap:7rem;
}

.userbutton
{
  color: black;
}

.card-body
{
  color: black;
  background-color:aqua;
}

.inp
{
  color: black;
}

.ip
{
  color: black;
}

.bn 
{
  color: black;
}

