.App {
  text-align: center;
}

.forms{
    display: flex;
    flex-direction: column;
    margin: 20px;
    gap: 20px;
}

.err-msg
{
  display: grid;
  place-items: center;
  color: crimson;
}

.success-msg
{
  display: grid;
  place-items: center;
  color:green;
}